* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    --draw-message: rgb(217, 24, 24);
    --win-message: rgb(40, 174, 86);
    --main: rgb(60 245 226);
    --hover: rgb(237, 247, 246);
    --active: rgb(250, 250, 250);
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: rgb(50, 50, 50);
    background-color: white;
}

button:hover {
    background-color: var(--hover);
}

button:active {
    transform: scale(0.95);
    background-color: var(--active);
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game {
    position: relative;
}

.hidden {
    display: none !important;
}

/* Score */

.player1-wrapper,
.player2-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

/* Player name */

.names-container {
    display: grid;
    gap: 10px;
    padding: 15px;
}

.player {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 25px;
    align-items: center;
    font-size: 16px;
}

.player button {
    width: 25px;
    height: 25px;
    background-size: 100%;
}

.player>div {
    width: 180px;
    padding: 0 5px;
}

.edit {
    background-image: url(images/edit_icon.svg);
}

.player>input {
    width: 180px;
    font-size: 16px;
    padding: 0 5px;
}

.close {
    background-image: url(images/save_icon.svg);
}

/* Board */

.board-container {
    display: grid;
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1px;
    width: 302px;
    height: 302px;
    background-color: lightgrey;
}

.board-container div {
    width: 100px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.board-container div:hover {
    background-color: var(--hover);
}

.board-container div:active {
    background-color: var(--active);
}

.disabled {
    pointer-events: none;
    user-select: none;
}

/* Messages */

.message-window {
    position: absolute;
    display: grid;
    grid-template-areas:
        "message message"
        "button1 button2";
    justify-content: center;
    justify-items: center;
    align-content: center;
    gap: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
}

.message-container {
    grid-area: message;
    font-size: 2rem;
    font-weight: 700;
    -webkit-text-stroke: 1px white;
    text-transform: uppercase;
    text-align: center;
    word-break: break-word;
}

.message-window button {
    padding: 5px 10px;
}

.restart {
    grid-area: button2;
}

.next {
    grid-area: button1;
}

.window-shown {
    opacity: 1;
    z-index: 1;
}

.win-message {
    color: var(--win-message);
}

.draw-message {
    color: var(--draw-message);
}